<div class="container">
  <form id="tweeter_form" action="/tweets" method="post">
    <label for="tweeter">Whose tweets you want to see?</label>
    <input type="text" name="tweeter" placeholder="ex. robdelaney">
    <input type="submit" value="Let's see those tweets!">
  </form>
  <form id="tweet-from" action="/tweets/new" method="post">
    <label for="tweet">Send out a tweet!</label>
    <input type="text" name="tweet" placeholder="Enter your tweet text here">
    <input type="submit" value="Send your tweet">
  </form>
  <% if @tweet_sent %>
    <div>
      <p>Tweet sent!</p>
    </div>
    <% end %>

  <div class="tweets">
    <%= erb :tweets %>
  </div>
  
  <div class="loading">
    <h2>Loading...</h2>
    <img src="/images/thedude.gif" alt="">
  </div>
</div>
