<div class="login">
<!--   <form action="/user" method="post">
    <input type="text" name="name" placeholder="Enter your username">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
  </form> -->
</div>
